.maincontainer {
    height: 100vh;
    width: 100vw;
    background: #878c8e;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    height: 80vh;
    width: 30vw;
    background: #307da5;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  h1{
    margin-top: -22vh;
    margin-left: 3vw;
   font-size: 2vw;
    font-style: italic;
  }

  h2{
    margin-top: 8vh;
    margin-bottom: 1vw;
    margin-left: 5vw;
    font-size: 2vw;
  }
  
  .fname {
    height: 5vh;
    width: 20vw;
    margin-top: 4vh;
    margin-left: 5vw;
  }
  
  .lname {
    height: 5vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 5vw;
  }
  
  
  .date {
    height: 5vh;
    width: 20vw;
    margin-top: 2vh;
    margin-left: 5vw;
  }
  
  .btn{
    height: 5vh;
  width: 8vw;
  margin-top: 2vh;
  margin-left: 11vw;
  font-size: 1vw;
  }
  
  .btns{
    height: 5vh;
    width: 20vw;
          margin-top: 70vh;
    margin-left: -20vw;
    font-size: 1vw;
  }
    
    
